<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-3">
    <form>
      <h3>PLEASE REGISTER WITH THE PROVIDED CREDENTIALS</h3>
      <div class="form-group mt-2 ml-3">
        <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
      </div>
      <div class="form-group mt-2">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group mt-2">
        <input type="phone" class="form-control" id="exampleInputPhone" placeholder="Enter phone">
      </div>
      <div class="form-group mt-2">
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
      </div>
      <div class="form-group mt-2">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype Password">
      </div>
      <div class="form-group form-check mt-3 mb-2">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Agree with term and conditions</label>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
    </form>
  </div>
</div>